<<<<<<< HEAD
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<table>
			<tr>
				<td><%= link_to "sample app", '#', id: "logo"%></td>
				<td>	
					<nav>
						<ul class="nav navbar-nav pull-right">
							<li><%= link_to "Home", '#'%></li>
							<li><%= link_to "Help", '#'%></li>
							<li><%= link_to "Log in", '#'%></li>
						</ul>
					</nav>
				</td>
		</tr>
		</table>
=======
<header class="navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="col-sm-6">
        <h1><%= link_to "sample app", '#', id: "logo" %>
      	</div>
		<nav>
			<ul class="nav nav-pills pull-left" role="tablist">
				<li><%= link_to "Home", '#' %></li>
				<li><%= link_to "Help", '#' %></li>
				<li><%= link_to "Log in", '#' %></li>
			</ul>
		</nav>
>>>>>>> a2947879af714a4171206806b8244b68d38a056b
	</div>
</header>